In [ ]:

###############################################
# GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

# Adım 1: Key değerlerine erişiniz.
dict.keys()

# Adım 2: Value'lara erişiniz.
dict.values()

# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict.update({"Daisy": ["England",13]})
dict['Daisy'] = ["England",13]
dict["Daisy"][1]=14

# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict.update({"Ahmet":["Turkey",24]})

# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop("Antonio")

###############################################
# GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return
# eden fonksiyon yazınız.
###############################################

l = [2,13,18,93,22]

def funci(string):
    tekliste =[]
    ciftliste =[]

    for i in string:
        if i % 2 == 0:
            ciftliste.append(i)
        else :
            tekliste.append(i)
    return ciftliste,tekliste

funci(l)
a,b = funci(l)


###############################################
# GÖREV 6: List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz
# ve başına NUM ekleyiniz.
###############################################

# Beklenen Çıktı

# ['NUM_TOTAL',
#  'NUM_SPEEDING',
#  'NUM_ALCOHOL',
#  'NUM_NOT_DISTRACTED',
#  'NUM_NO_PREVIOUS',
#  'NUM_INS_PREMIUM',
#  'NUM_INS_LOSSES',
#  'ABBREV']

# Notlar:
# Numerik olmayanların da isimleri büyümeli.
# Tek bir list comp yapısı ile yapılmalı.

import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

df = sns.load_dataset("car_crashes")
df.columns
df.info

["NUM_" + col.upper() for col in df.columns if df[col].dtypes in [int,float]]
["NUM_" + col.upper() if df[col].dtypes in [int,float] else col.upper() for col in df.columns ]
["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]


###############################################
# GÖREV 7: List Comprehension yapısı kullanarak car_crashes verisindeki isminde "no" barındırmayan değişkenlerin isimlerininin
# sonuna "FLAG" yazınız.
###############################################

# Notlar:
# Tüm değişken isimleri büyük olmalı.
# Tek bir list comp ile yapılmalı.

# Beklenen çıktı:

# ['TOTAL_FLAG',
#  'SPEEDING_FLAG',
#  'ALCOHOL_FLAG',
#  'NOT_DISTRACTED',
#  'NO_PREVIOUS',
#  'INS_PREMIUM_FLAG',
#  'INS_LOSSES_FLAG',
#  'ABBREV_FLAG']

df.columns

["NUM_" + col.upper() if df[col].dtypes in [int,float] else col.upper() for col in df.columns ]
[col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns ]


###############################################
# Görev 8: List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz
# ve yeni bir dataframe oluşturunuz.
###############################################

# og_list = ["abbrev", "no_previous"]

# Notlar:
# Önce yukarıdaki listeye göre list comprehension kullanarak new_cols adında yeni liste oluşturunuz.
# Sonra df[new_cols] ile bu değişkenleri seçerek yeni bir df oluşturunuz adını new_df olarak isimlendiriniz.

# Beklenen çıktı:

#    total  speeding  alcohol  not_distracted  ins_premium  ins_losses
# 0 18.800     7.332    5.640          18.048      784.550     145.080
# 1 18.100     7.421    4.525          16.290     1053.480     133.930
# 2 18.600     6.510    5.208          15.624      899.470     110.350
# 3 22.400     4.032    5.824          21.056      827.340     142.390
# 4 12.000     4.200    3.360          10.920      878.410     165.630

df
og_list = ["abbrev", "no_previous"]
new_col = [col for col in df.columns if col not in og_list]

df1= df[new_col]

In [1]:
x = 8
type(x)

y = 3.2
type(y)

z = 8j + 18
type(z)

a = "Hello World"
type(a)

b = True
type(b)

c = 45 < 22
type(c)

bool

In [ ]:
#List
l = [1, 2, 3, 4,"String",3.2, False]
type(l)
# Sıralıdır
# Kapsayıcıdır
# Değiştirilebilir

#Dictionary
d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
type(d)
# Değiştirilebilir
# Kapsayıcı
# Sırasız
# Key değerleri farklı olacak

#Tuple
t = ("Machine Learning", "Data Science")
type(t)
# Değiştirilemez
# Kapsayıcı
# Sıralı

#Set
s = {"Python", "Machine Learning", "Data Science","Python"}
type(s)
# Değiştirilebilir
# Sırasız + Eşsiz
# Kapsayıcı

In [3]:
## SORU 2 ['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']
text = "The goal is to turn data into information, and information into insight."

text.upper().replace(',',' ').replace('.',' ').split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:
## SORU 3: Verilen liste için aşağıdaki görevleri yapınız.

lst = ["D","A","T","A","S","C","I","E","N","C","E"]

# Adım 1: Verilen listenin eleman sayısına bakın.

len(lst)

# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.

lst[0], lst[10]

# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.

lst[0:4]

# Adım 4: Sekizinci index'teki elemanı silin

lst.pop(8)

# Adım 5: Yeni bir eleman ekleyin.

lst.append('R')

# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.

lst.insert(8,'N')

In [5]:
###SORU 4 Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

# Adım 1: Key değerlerine erişiniz.
dict.keys()

# Adım 2: Value'lara erişiniz.
dict.values()

# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict.update({"Daisy": ["England",13]})
dict['Daisy'] = ["England",13]
dict["Daisy"][1]=14

# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict.update({"Ahmet":["Turkey",24]})

# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop("Antonio")

['Spain', 22]

In [8]:
# SORU 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return
# eden fonksiyon yazınız.
###############################################

l = [2,13,18,93,22]

def funci(string):
    tekliste =[]
    ciftliste =[]

    for i in string:
        if i % 2 == 0:
            ciftliste.append(i)
        else :
            tekliste.append(i)
    return ciftliste,tekliste

funci(l)
#a,b = funci(l)

([2, 18, 22], [13, 93])

In [3]:
#SORU 6 Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi
# öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

A = ogrenciler[0:3]
B = ogrenciler[3:6]

for index, ogr in enumerate(A,1):
    print("Muhendislik Fakultesi", index, ".", "öğrenci:", ogr)
for index, ogr in enumerate(B, 1):
    print("Tıp Fakultesi", index, ".", "öğrenci:", ogr)

Muhendislik Fakultesi 1 . öğrenci: Ali
Muhendislik Fakultesi 2 . öğrenci: Veli
Muhendislik Fakultesi 3 . öğrenci: Ayşe
Tıp Fakultesi 1 . öğrenci: Talat
Tıp Fakultesi 2 . öğrenci: Zeynep
Tıp Fakultesi 3 . öğrenci: Ece

In [1]:
# SORU 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
# almaktadır. Zip kullanarak ders bilgilerini bastırınız.
###############################################

ders_kodu = ["CMP1005", "PSY1005", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

for k, kod, kon in zip(kredi, ders_kodu, kontenjan):
    print(f"Kredi {k} olan {kod} kodlu dersin kontenjanı {kon} kişidir.")

Kredi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredi 4 olan PSY1005 kodlu dersin kontenjanı 75 kişidir.
Kredi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.